NFE/Open NFe Multiempresa/Open NFe Multiempresa/src/RDI.NFe2.Business/Web References/PWS.GO.RetRecepcao/NfeRetRecepcao2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NfeRetRecepcao2" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg" />
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeRetRecepcao2Result">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="nfeCabecMsg">
        <xs:sequence>
          <xs:element minOccurs="0" name="cUF" type="xs:string" />
          <xs:element minOccurs="0" name="versaoDados" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="NfeRetRecepcaoService_nfeRetRecepcao2Response">
    <part name="nfeRetRecepcao2Result" element="tns:nfeRetRecepcao2Result" />
  </message>
  <message name="NfeRetRecepcaoService_nfeRetRecepcao2">
    <part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
    <part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </message>
  <portType name="NfeRetRecepcaoService">
    <operation name="nfeRetRecepcao2" parameterOrder="nfeCabecMsg nfeDadosMsg">
      <input message="tns:NfeRetRecepcaoService_nfeRetRecepcao2" />
      <output message="tns:NfeRetRecepcaoService_nfeRetRecepcao2Response" />
    </operation>
  </portType>
  <binding name="NfeRetRecepcaoServiceBinding" type="tns:NfeRetRecepcaoService">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="nfeRetRecepcao2">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2/nfeRetRecepcao2" />
      <input>
        <soap12:body use="literal" parts="nfeDadosMsg" />
        <soap12:header message="tns:NfeRetRecepcaoService_nfeRetRecepcao2" part="nfeCabecMsg" use="literal" />
      </input>
      <output>
        <soap12:body use="literal" parts="nfeRetRecepcao2Result" />
      </output>
    </operation>
  </binding>
  <service name="NfeRetRecepcao2">
    <port name="NfeRetRecepcaoServicePort" binding="tns:NfeRetRecepcaoServiceBinding">
      <soap12:address location="https://nfe.sefaz.go.gov.br/nfe/services/v2/NfeRetRecepcao2" />
    </port>
  </service>
</definitions>