NFE/Open NFe Multiempresa/Open NFe Multiempresa/src/RDI.NFe2.Business/Web References/PWS.MG.Recepcao/NfeRecepcao2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao2" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="NfeRecepcao2" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao2" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg" />
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeRecepcaoLote2Result" type="tns:nfeRecepcaoLote2Result" />
      <xs:complexType name="nfeRecepcaoLote2Result">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="retEnviNFe" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="nfeCabecMsg">
        <xs:sequence>
          <xs:element minOccurs="0" name="cUF" type="xs:string" />
          <xs:element minOccurs="0" name="versaoDados" type="xs:string" />
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="skip" />
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="nfeRecepcaoLote2Response">
    <wsdl:part name="nfeRecepcaoLote2Result" element="tns:nfeRecepcaoLote2Result" />
    <wsdl:part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </wsdl:message>
  <wsdl:message name="nfeRecepcaoLote2">
    <wsdl:part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
    <wsdl:part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </wsdl:message>
  <wsdl:portType name="NfeRecepcao2Soap">
    <wsdl:operation name="nfeRecepcaoLote2" parameterOrder="nfeDadosMsg nfeCabecMsg">
      <wsdl:input name="nfeRecepcaoLote2" message="tns:nfeRecepcaoLote2" />
      <wsdl:output name="nfeRecepcaoLote2Response" message="tns:nfeRecepcaoLote2Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NfeRecepcao2SoapBinding" type="tns:NfeRecepcao2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeRecepcaoLote2">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao2/nfeRecepcaoLote2" style="document" />
      <wsdl:input name="nfeRecepcaoLote2">
        <soap12:header message="tns:nfeRecepcaoLote2" part="nfeCabecMsg" use="literal" />
        <soap12:body use="literal" parts="nfeDadosMsg" />
      </wsdl:input>
      <wsdl:output name="nfeRecepcaoLote2Response">
        <soap12:header message="tns:nfeRecepcaoLote2Response" part="nfeCabecMsg" use="literal" />
        <soap12:body use="literal" parts="nfeRecepcaoLote2Result" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NfeRecepcao2">
    <wsdl:port name="NfeRecepcao2Soap12" binding="tns:NfeRecepcao2SoapBinding">
      <soap12:address location="https://nfe.fazenda.mg.gov.br/nfe2/services/NfeRecepcao2" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>