NFE/Open NFe Multiempresa/Open NFe Multiempresa/src/RDI.NFe2.Business/Web References/PNF.GO.RetAutorizacao/NfeRetAutorizacao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetAutorizacao" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NfeRetAutorizacao" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetAutorizacao" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetAutorizacao" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg" />
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeRetAutorizacaoLoteResult">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="nfeCabecMsg">
        <xs:sequence>
          <xs:element minOccurs="0" name="cUF" type="xs:string" />
          <xs:element minOccurs="0" name="versaoDados" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="NfeRetAutorizacaoService_nfeRetAutorizacaoLoteResponse">
    <part name="nfeRetAutorizacaoLoteResult" element="tns:nfeRetAutorizacaoLoteResult" />
  </message>
  <message name="NfeRetAutorizacaoService_nfeRetAutorizacao">
    <part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
    <part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </message>
  <portType name="NfeRetAutorizacaoService">
    <operation name="nfeRetAutorizacaoLote" parameterOrder="nfeCabecMsg nfeDadosMsg">
      <input message="tns:NfeRetAutorizacaoService_nfeRetAutorizacaoLote" />
      <output message="tns:NfeRetAutorizacaoService_nfeRetAutorizacaoLoteResponse" />
    </operation>
  </portType>
  <binding name="NfeRetAutorizacaoServiceBinding" type="tns:NfeRetAutorizacaoService">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="nfeRetAutorizacaoLote">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetAutorizacao/nfeRetAutorizacaoLote" />
      <input>
        <soap12:body use="literal" parts="nfeDadosMsg" />
        <soap12:header message="tns:NfeRetAutorizacaoService_nfeRetAutorizacaoLote" part="nfeCabecMsg" use="literal" />
      </input>
      <output>
        <soap12:body use="literal" parts="nfeRetAutorizacaoLoteResult" />
      </output>
    </operation>
  </binding>
  <service name="NfeRetAutorizacao">
    <port name="NfeRetAutorizacaoServicePort" binding="tns:NfeRetAutorizacaoServiceBinding">
      <soap12:address location="https://nfe.sefaz.go.gov.br/nfe/services/v2/NfeRetAutorizacao" />
    </port>
  </service>
</definitions>