NFE/Open NFe Multiempresa/Open NFe Multiempresa/src/RDI.NFe2.Business/Web References/PWS.MG.Consulta/NfeConsulta2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeConsulta2" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="NfeConsulta2" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeConsulta2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeConsulta2" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg" />
      <xs:element name="nfeConsultaNF2Result" type="tns:nfeConsultaNF2Result" />
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="nfeConsultaNF2Result">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="retConsSitNFe" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="nfeCabecMsg">
        <xs:sequence>
          <xs:element minOccurs="0" name="cUF" type="xs:string" />
          <xs:element minOccurs="0" name="versaoDados" type="xs:string" />
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="skip" />
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="nfeConsultaNF2Response">
    <wsdl:part name="nfeConsultaNF2Result" element="tns:nfeConsultaNF2Result" />
    <wsdl:part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </wsdl:message>
  <wsdl:message name="nfeConsultaNF2">
    <wsdl:part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
    <wsdl:part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </wsdl:message>
  <wsdl:portType name="NfeConsulta2Soap">
    <wsdl:operation name="nfeConsultaNF2" parameterOrder="nfeDadosMsg nfeCabecMsg">
      <wsdl:input name="nfeConsultaNF2" message="tns:nfeConsultaNF2" />
      <wsdl:output name="nfeConsultaNF2Response" message="tns:nfeConsultaNF2Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NfeConsulta2SoapBinding" type="tns:NfeConsulta2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeConsultaNF2">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeConsulta2/nfeConsultaNF2" style="document" />
      <wsdl:input name="nfeConsultaNF2">
        <soap12:header message="tns:nfeConsultaNF2" part="nfeCabecMsg" use="literal" />
        <soap12:body use="literal" parts="nfeDadosMsg" />
      </wsdl:input>
      <wsdl:output name="nfeConsultaNF2Response">
        <soap12:header message="tns:nfeConsultaNF2Response" part="nfeCabecMsg" use="literal" />
        <soap12:body use="literal" parts="nfeConsultaNF2Result" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NfeConsulta2">
    <wsdl:port name="NfeConsulta2Soap12" binding="tns:NfeConsulta2SoapBinding">
      <soap12:address location="https://nfe.fazenda.mg.gov.br/nfe2/services/NfeConsulta2" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>