NFE/Open NFe Multiempresa/Open NFe Multiempresa/src/RDI.NFe2.Business/Web References/PWS.MS.Recepcao/NfeRecepcao2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao2" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:nfe="http://www.portalfiscal.inf.br/nfe" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NfeRecepcao2" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao2" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeRecepcaoLote2Result">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg" />
      <xs:complexType name="nfeCabecMsg">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="cUF" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="versaoDados" type="xs:string" />
        </xs:sequence>
        <xs:anyAttribute />
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="NfeRecepcaoLote2Request">
    <part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
    <part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </message>
  <message name="NfeRecepcaoLote2Response">
    <part name="nfeRecepcaoLote2Result" element="tns:nfeRecepcaoLote2Result" />
    <part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </message>
  <portType name="NfeRecepcao2Soap">
    <operation name="nfeRecepcaoLote2">
      <input message="tns:NfeRecepcaoLote2Request" />
      <output message="tns:NfeRecepcaoLote2Response" />
    </operation>
  </portType>
  <binding name="NfeRecepcao2Soap12" type="tns:NfeRecepcao2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="nfeRecepcaoLote2">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRecepcao2/nfeRecepcaoLote2" style="document" />
      <input>
        <soap12:body use="literal" parts="nfeDadosMsg" />
        <soap12:header message="tns:NfeRecepcaoLote2Request" part="nfeCabecMsg" use="literal" />
      </input>
      <output>
        <soap12:body use="literal" parts="nfeRecepcaoLote2Result" />
        <soap12:header message="tns:NfeRecepcaoLote2Response" part="nfeCabecMsg" use="literal" />
      </output>
    </operation>
  </binding>
  <service name="NfeRecepcao2">
    <port name="nfeRecepcao2Soap12" binding="tns:NfeRecepcao2Soap12">
      <soap12:address location="https://nfe.fazenda.ms.gov.br/producao/services2/NfeRecepcao2" />
    </port>
  </service>
</definitions>