NFE/Open NFe Multiempresa/Open NFe Multiempresa/src/RDI.NFe2.Business/Web References/HWS.MG.Status/NfeStatusServico2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico2" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NfeStatusServico2" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico2" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg" />
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeStatusServicoNF2Result" type="tns:nfeStatusServicoNF2Result" />
      <xs:complexType name="nfeStatusServicoNF2Result">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="retConsStatServ" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="nfeCabecMsg">
        <xs:sequence>
          <xs:element minOccurs="0" name="cUF" type="xs:string" />
          <xs:element minOccurs="0" name="versaoDados" type="xs:string" />
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="skip" />
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="nfeStatusServicoNF2">
    <wsdl:part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
    <wsdl:part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </wsdl:message>
  <wsdl:message name="nfeStatusServicoNF2Response">
    <wsdl:part name="nfeStatusServicoNF2Result" element="tns:nfeStatusServicoNF2Result" />
    <wsdl:part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </wsdl:message>
  <wsdl:portType name="NfeStatusServico2Soap">
    <wsdl:operation name="nfeStatusServicoNF2" parameterOrder="nfeDadosMsg nfeCabecMsg">
      <wsdl:input name="nfeStatusServicoNF2" message="tns:nfeStatusServicoNF2" />
      <wsdl:output name="nfeStatusServicoNF2Response" message="tns:nfeStatusServicoNF2Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NfeStatusServico2SoapBinding" type="tns:NfeStatusServico2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeStatusServicoNF2">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico2/nfeStatusServicoNF2" style="document" />
      <wsdl:input name="nfeStatusServicoNF2">
        <soap12:header message="tns:nfeStatusServicoNF2" part="nfeCabecMsg" use="literal" />
        <soap12:body use="literal" parts="nfeDadosMsg" />
      </wsdl:input>
      <wsdl:output name="nfeStatusServicoNF2Response">
        <soap12:header message="tns:nfeStatusServicoNF2Response" part="nfeCabecMsg" use="literal" />
        <soap12:body use="literal" parts="nfeStatusServicoNF2Result" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NfeStatusServico2">
    <wsdl:port name="NfeStatusServico2Soap12" binding="tns:NfeStatusServico2SoapBinding">
      <soap12:address location="https://hnfe.fazenda.mg.gov.br/nfe2/services/NfeStatus2" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>