NFE/Open NFe Multiempresa/Open NFe Multiempresa/src/RDI.NFe2.Business/Web References/PWS.MS.Status/NfeStatusServico2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico2" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NfeStatusServico2" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico2" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeStatusServicoNF2Result">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg" />
      <xs:complexType name="nfeCabecMsg">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="cUF" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="versaoDados" type="xs:string" />
        </xs:sequence>
        <xs:anyAttribute />
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="NfeStatusServicoNF2Request">
    <part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
    <part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </message>
  <message name="NfeStatusServicoNF2Response">
    <part name="nfeStatusServicoNF2Result" element="tns:nfeStatusServicoNF2Result" />
    <part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </message>
  <portType name="NfeStatusServico2Soap">
    <operation name="nfeStatusServicoNF2">
      <input message="tns:NfeStatusServicoNF2Request" />
      <output message="tns:NfeStatusServicoNF2Response" />
    </operation>
  </portType>
  <binding name="NfeStatusServico2Soap12" type="tns:NfeStatusServico2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="nfeStatusServicoNF2">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeStatusServico2/nfeStatusServicoNF2" style="document" />
      <input>
        <soap12:body use="literal" parts="nfeDadosMsg" />
        <soap12:header message="tns:NfeStatusServicoNF2Request" part="nfeCabecMsg" use="literal" />
      </input>
      <output>
        <soap12:body use="literal" parts="nfeStatusServicoNF2Result" />
        <soap12:header message="tns:NfeStatusServicoNF2Response" part="nfeCabecMsg" use="literal" />
      </output>
    </operation>
  </binding>
  <service name="NfeStatusServico2">
    <port name="nfeStatusServico2Soap12" binding="tns:NfeStatusServico2Soap12">
      <soap12:address location="https://nfe.fazenda.ms.gov.br/producao/services2/NfeStatusServico2" />
    </port>
  </service>
</definitions>