NFE/Open NFe Multiempresa/Open NFe Multiempresa/src/RDI.NFe2.Business/Web References/HNF.MS.RetAutorizacao/NfeRetAutorizacao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:nfe="http://www.portalfiscal.inf.br/nfe" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetAutorizacao" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="NfeRetAutorizacao" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetAutorizacao" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetAutorizacao" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeRetAutorizacaoResult">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg" />
      <xs:complexType name="nfeCabecMsg">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="cUF" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="versaoDados" type="xs:string" />
        </xs:sequence>
        <xs:anyAttribute />
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="NfeRetAutorizacaoRequest">
    <part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
    <part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </message>
  <message name="NfeRetAutorizacaoResponse">
    <part name="nfeRetAutorizacaoResult" element="tns:nfeRetAutorizacaoResult" />
    <part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </message>
  <portType name="NfeRetAutorizacaoSoap">
    <operation name="nfeRetAutorizacao">
      <input message="tns:NfeRetAutorizacaoRequest" />
      <output message="tns:NfeRetAutorizacaoResponse" />
    </operation>
  </portType>
  <binding name="NfeRetAutorizacaoSoap12" type="tns:NfeRetAutorizacaoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="nfeRetAutorizacao">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetAutorizacao/nfeRetAutorizacao" style="document" />
      <input>
        <soap12:body use="literal" parts="nfeDadosMsg" />
        <soap12:header message="tns:NfeRetAutorizacaoRequest" part="nfeCabecMsg" use="literal" />
      </input>
      <output>
        <soap12:body use="literal" parts="nfeRetAutorizacaoResult" />
        <soap12:header message="tns:NfeRetAutorizacaoResponse" part="nfeCabecMsg" use="literal" />
      </output>
    </operation>
  </binding>
  <service name="NfeRetAutorizacao">
    <port name="nfeRetAutorizacaoSoap12" binding="tns:NfeRetAutorizacaoSoap12">
      <soap12:address location="https://homologacao.nfe.ms.gov.br:443/homologacao/services2/NfeRetAutorizacao" />
    </port>
  </service>
</definitions>