NFE/Open NFe Multiempresa/Open NFe Multiempresa/src/RDI.NFe2.Business/Web References/PWS.MS.RecepcaoEvento/RecepcaoEvento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/RecepcaoEvento" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:nfe="http://www.portalfiscal.inf.br/nfe" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RecepcaoEvento" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/RecepcaoEvento" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/RecepcaoEvento" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeRecepcaoEventoResult">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg" />
      <xs:complexType name="nfeCabecMsg">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="cUF" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="versaoDados" type="xs:string" />
        </xs:sequence>
        <xs:anyAttribute />
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="NfeRecepcaoEventoRequest">
    <part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
    <part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </message>
  <message name="NfeRecepcaoEventoResponse">
    <part name="nfeRecepcaoEventoResult" element="tns:nfeRecepcaoEventoResult" />
    <part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </message>
  <portType name="RecepcaoEventoSoap">
    <operation name="nfeRecepcaoEvento">
      <input message="tns:NfeRecepcaoEventoRequest" />
      <output message="tns:NfeRecepcaoEventoResponse" />
    </operation>
  </portType>
  <binding name="RecepcaoEventoSoap12" type="tns:RecepcaoEventoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="nfeRecepcaoEvento">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/RecepcaoEvento/nfeRecepcaoEvento" style="document" />
      <input>
        <soap12:body use="literal" parts="nfeDadosMsg" />
        <soap12:header message="tns:NfeRecepcaoEventoRequest" part="nfeCabecMsg" use="literal" />
      </input>
      <output>
        <soap12:body use="literal" parts="nfeRecepcaoEventoResult" />
        <soap12:header message="tns:NfeRecepcaoEventoResponse" part="nfeCabecMsg" use="literal" />
      </output>
    </operation>
  </binding>
  <service name="RecepcaoEvento">
    <port name="recepcaoEventoSoap12" binding="tns:RecepcaoEventoSoap12">
      <soap12:address location="https://nfe.fazenda.ms.gov.br/producao/services2/RecepcaoEvento" />
    </port>
  </service>
</definitions>