NFE/Open NFe Multiempresa/Open NFe Multiempresa/src/RDI.NFe2.Business/Web References/PWS.MS.RetRecepcao/NfeRetRecepcao2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:nfe="http://www.portalfiscal.inf.br/nfe" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NfeRetRecepcao2" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeRetRecepcao2Result">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg" />
      <xs:complexType name="nfeCabecMsg">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="cUF" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="versaoDados" type="xs:string" />
        </xs:sequence>
        <xs:anyAttribute />
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="NfeRetRecepcao2Request">
    <part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
    <part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </message>
  <message name="NfeRetRecepcao2Response">
    <part name="nfeRetRecepcao2Result" element="tns:nfeRetRecepcao2Result" />
    <part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </message>
  <portType name="NfeRetRecepcao2Soap">
    <operation name="nfeRetRecepcao2">
      <input message="tns:NfeRetRecepcao2Request" />
      <output message="tns:NfeRetRecepcao2Response" />
    </operation>
  </portType>
  <binding name="NfeRetRecepcao2Soap12" type="tns:NfeRetRecepcao2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="nfeRetRecepcao2">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2/nfeRetRecepcao2" style="document" />
      <input>
        <soap12:body use="literal" parts="nfeDadosMsg" />
        <soap12:header message="tns:NfeRetRecepcao2Request" part="nfeCabecMsg" use="literal" />
      </input>
      <output>
        <soap12:body use="literal" parts="nfeRetRecepcao2Result" />
        <soap12:header message="tns:NfeRetRecepcao2Response" part="nfeCabecMsg" use="literal" />
      </output>
    </operation>
  </binding>
  <service name="NfeRetRecepcao2">
    <port name="nfeRetRecepcao2Soap12" binding="tns:NfeRetRecepcao2Soap12">
      <soap12:address location="https://nfe.fazenda.ms.gov.br/producao/services2/NfeRetRecepcao2" />
    </port>
  </service>
</definitions>