NFE/Open NFe Multiempresa/Open NFe Multiempresa/src/RDI.NFe2.Business/Web References/HNF.MS.Autorizacao/NfeAutorizacao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:nfe="http://www.portalfiscal.inf.br/nfe" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeAutorizacao" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="NfeAutorizacao" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeAutorizacao" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeAutorizacao" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeDadosMsgZip" type="xs:string" />
      <xs:element name="nfeAutorizacaoLoteResult">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg" />
      <xs:complexType name="nfeCabecMsg">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="cUF" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="versaoDados" type="xs:string" />
        </xs:sequence>
        <xs:anyAttribute />
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="NfeAutorizacaoLoteRequest">
    <part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
    <part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </message>
  <message name="NfeAutorizacaoLoteZipRequest">
    <part name="nfeDadosMsgZip" element="tns:nfeDadosMsgZip" />
    <part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </message>
  <message name="NfeAutorizacaoLoteResponse">
    <part name="nfeAutorizacaoLoteResult" element="tns:nfeAutorizacaoLoteResult" />
    <part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </message>
  <message name="NfeAutorizacaoLoteZipResponse">
    <part name="nfeAutorizacaoLoteResult" element="tns:nfeAutorizacaoLoteResult" />
    <part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </message>
  <portType name="NfeAutorizacaoSoap">
    <operation name="nfeAutorizacaoLote">
      <input message="tns:NfeAutorizacaoLoteRequest" />
      <output message="tns:NfeAutorizacaoLoteResponse" />
    </operation>
    <operation name="nfeAutorizacaoLoteZip">
      <input message="tns:NfeAutorizacaoLoteZipRequest" />
      <output message="tns:NfeAutorizacaoLoteZipResponse" />
    </operation>
  </portType>
  <binding name="NfeAutorizacaoSoap12" type="tns:NfeAutorizacaoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="nfeAutorizacaoLote">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeAutorizacao/nfeAutorizacaoLote" style="document" />
      <input>
        <soap12:body use="literal" parts="nfeDadosMsg" />
        <soap12:header message="tns:NfeAutorizacaoLoteRequest" part="nfeCabecMsg" use="literal" />
      </input>
      <output>
        <soap12:body use="literal" parts="nfeAutorizacaoLoteResult" />
        <soap12:header message="tns:NfeAutorizacaoLoteResponse" part="nfeCabecMsg" use="literal" />
      </output>
    </operation>
    <operation name="nfeAutorizacaoLoteZip">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeAutorizacao/nfeAutorizacaoLoteZip" style="document" />
      <input>
        <soap12:body use="literal" parts="nfeDadosMsgZip" />
        <soap12:header message="tns:NfeAutorizacaoLoteZipRequest" part="nfeCabecMsg" use="literal" />
      </input>
      <output>
        <soap12:body use="literal" parts="nfeAutorizacaoLoteResult" />
        <soap12:header message="tns:NfeAutorizacaoLoteZipResponse" part="nfeCabecMsg" use="literal" />
      </output>
    </operation>
  </binding>
  <service name="NfeAutorizacao">
    <port name="nfeAutorizacaoSoap12" binding="tns:NfeAutorizacaoSoap12">
      <soap12:address location="https://homologacao.nfe.ms.gov.br:443/homologacao/services2/NfeAutorizacao" />
    </port>
  </service>
</definitions>